:root {
    /* --hljs-bg: #ffffff;  */
    /* --code-fg: #000; */
    --radius: 0px;
}

body {
    font-family: 'Roboto Slab';
}

.header {
    background-color: var(--theme);
    position: sticky;
    top: 0;
    z-index: 1;
}

.dark > .header > .nav > .logo img {
    /* change the svg color depending on light/dark mode */
    filter: invert(100%);
}

#menu li a {
    font-weight: 500;
}

.entry-header em {
    color: #7d5fff;
}

.post-title,
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    font-family: 'Bitter', sans-serif;
}

.post-title {
    font-weight: 800;
}

.post-content {
    font-weight: 400;
}

.post-content code {
    font-weight: bold;
}

.post-content .highlight:not(table) {
    margin: 20px auto;
}

.post-content pre code {
    color: var(--code-fg);
    font-family: 'JetBrains Mono', monospace;
    font-weight: 600;
    font-size: 16px;
}

.post-tags {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.post-tags a {
    border-radius: 5px;
    font-weight: 500;
}

@media screen and (max-width: 515px) {
    .nav {
        justify-content: center;    
        padding-top: 18px;
    }

    .logo a {
        font-size: 30px;
    }

    #menu {
        display: none;
    }
    
    .first-entry,
    .post-header,
    .page-header h1 {
        text-align: center;
    }
    
    .entry-content {
        text-align: justify;
    }

    .post-meta,
    .breadcrumbs {
        justify-content: center;
    }
}