body {
    font-family: 'Roboto Slab';
}

.dark > .header > .nav > .logo img {
    /* change the svg color depending on light/dark mode */
    filter: invert(100%);
}

.entry-header em {
    color: #7d5fff;
}

.post-title,
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    font-family: 'Bitter', sans-serif;
}

.post-title {
    font-weight: 800;
}

.post-content {
    font-weight: 400;
}

.post-content code {
    font-weight: bold;
}

.chroma {
    background-color: unset;
}